:root {
    --primary: #8ECAE6;
    --secondary: #023047;
    --info: #219EBC;
    --highlight: #FFB703;
    --highlight2: #FB8500;
    --error: #9E2A2B;
    --error2: #D52F31;
}

html, body {
    line-height: initial;
    background-color: var(--secondary);
    font-family: 'Segoe UI', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--highlight);
}

label, p, a {
    color: var(--primary);
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 58px;
}

h4 {
    font-size: 46px;
}

h5 {
    font-size: 38px;
}

h6, label {
    font-size: 34px;
}

p, input, a, textarea, select, option {
    font-size: 28px;
}