button {
  font-size: 50px;
  border: none;
  margin: 5px;
  /* border-radius: 10px; */
}

.primary {
  background-color: #293cff;
}

.success {
  background-color: #22ff22;
}

.danger {
  background-color: #ff2222;
}

.warning {
  background-color: #999999;
}

.info {
  background-color: #6060ff;
}

button:hover {
  color: blue;
}

button.primary:hover, button.danger:hover, button.warning:hover, button.info:hover {
  color: white;
}

button.success:hover {
  color: #3f3fff;
}

button:active {
  outline: 2px solid white;
}